html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  font-family: Rubik, sans-serif;
  background-color: #f5f6fa;
  margin: 0; /* to remove default page margins */
}

.tightP {
  display: block;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media screen and (max-width: 1120px) {
  #desktop {
      display: none;
  }
}

@media screen and (min-width: 1121px) {
  #mobile {
      display: none;
  }
}

#mobile {
  text-align: center;
  margin-top: 10em;
}

h2 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.header {
  height: 4%;
  justify-content: space-between;
}

.viewsBig {
  font-family: Rubik, sans-serif;
  font-size: 6vh;
  width: 95%;
  padding-left: 2vw;
}

.notYoutube {
  font-size: 2vh;
  margin-top: 0.5vh;
}

.settingsButton {
  border: none;
  cursor: pointer;
  float: right;
  background-color: #f5f6fa;
  padding: 0; /* to remove default padding */
  margin-top: .3em;
  margin-bottom: .3em;
}

.settingsButton:focus {
  outline: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 2;
}

.small-right-margin {
  margin-right: 1em;
}

.small-top-margin {
  margin-top: 1em;
}

.small-bottom-margin {
  margin-bottom: 1em;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -user-select: none;
}

.rangeDescription {
  color: black;
}

#ideaQl{
  color: black;
}

#idea {
  color:black;
}

.span {
  color: red;
  text-align: right;
  float: right;
  margin-right: 1.5em;
}

.explanation {
  color: #424242;
  text-align: left;
  margin-left: 1.5em;
}

#arrayQlView {
  color: black;
  text-align: left;
  float: left;
  margin-right: 0em;
}

#arrayQlViewColor {
  color: red;
  text-align: left;
  float: left;
  margin-right: 0em;
}
#pipeline {
  padding-right: 1.5em;
  float: left;
  margin-left: 1.5em;
}

.rainbow-text {
  background-image: linear-gradient(to left, blue, green, gold, darkorange, red);
  -webkit-background-clip: text;
  color: transparent;
}

.button {
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  height: 30px;
  border-width: 2px;
  transition-duration: 50ms;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 3px #999;
}

.button:hover {
  background-color: red;
  color: white;
  box-shadow: 0px 3px #999;
}

.button:active {
  background-color: #a80000;
  box-shadow: 0px 0px #999;
  transform: translateY(2px);
}

.button:focus {
  outline: 0;
}

/* ad amount buttons + & - */
.largeButton {
  height: 30px;
  width: 40%;
  font-size: 20px;
  vertical-align: middle;
  padding: 0px;
}

/* IDEA BULB */
.bulbFrame {
  border:solid red;
  position: relative;
  text-align: center;
  height: 7.5em;
  cursor: default;
  border: 0;
  transform: scale(0.7,0.7)
}

#bulb {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 37%;
  fill: #FFD700;
  transition: all .5s ease-in-out;
}

#glow {
  position: absolute;
  width: 76px;
  height: 76px;
  background: #fff130;
  border-radius: 50px;
  box-shadow: 0 0 50px 10px #fff130;
  top: 0px;
  left: 37%;
  transition: all .5s ease-in-out;
}

#base {
  position: absolute;
  width: 76px;
  top: 99px;
  left: 37%;
  fill: #000000;
}

.turnUp {
  animation-name: turnUp;
  animation-duration: 60000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.09,0.88,0.67,0.37);
}

@keyframes turnUp {
  0% {opacity: 0; fill: #f8fc00}
  20% {fill: #fceb00;}
  40% {fill: #fcce00;}
  60% {fill: #fcc500;}
  80% {fill: #ffae00;}
  98.6% {opacity: 1;}
  98.7% {opacity: 0;}
  98.8% {opacity: 1;}
  98.9% {opacity: 0;}
  99% {opacity: 1;}
  99.1% {opacity: 0;}
  99.2% {opacity: 1;}
  99.2% {opacity: 0;}
  99.3% {opacity: 1;}
  99.4% {opacity: 0;}
  99.5% {opacity: 1;}
  99.6% {opacity: 0;}
  99.7% {opacity: 1;}
  99.9% {opacity: 0;}
  100% {opacity: 1;fill: #ff9100;}
}
/* IDEA END */

.ideaRangeDiv {
  justify-content: space-around;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

#ideaRange {
  -webkit-appearance: none;
  cursor: pointer;
  background: red;
  width: 90%;
  height: 5px;
  border-radius: 15px;
  box-shadow: 0px 1px #999;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#ideaRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 8px solid #bcbcbc;
  height: 25px;
  width: 25px;
  border-radius: 510%;
  background: red;
  cursor: pointer;
  box-shadow: 0px 1px #999;
}

#ideaRange:hover {
  opacity: 1;
}

#ideaRange:focus {
  outline: 0;
}

/* FLEXBOX START */

.parentFlex {
  justify-content: space-between;
}

.childFlex {
  width: calc(25% - 2em);
  text-align: center;
  margin: 1% 1em 0em 1em;
}

.childFlexTop {
  height: 75%;
  padding: 0.1em 0.5em 0.6em;
  margin-bottom: 1.5vh;
  border-radius: 20px;
  box-shadow: -5px -5px 10px #ffffffb2, 5px 5px 10px rgba(94, 104, 121, 0.945);
  background-color: #edeff2;
}

/* Analytics container */
.childFlexShort {
  width: calc(25% - 2em);
  text-align: center;
  margin-right: 1em;
}

.childFlexTopShort {
  padding: 0.2em 0.5em 0.1em;
  margin-bottom: 1.5vh;
  border-radius: 20px;
  box-shadow: -5px -5px 10px #ffffffb2, 5px 5px 10px rgba(94, 104, 121, 0.945);
  background-color: #edeff2;
}

/* Comments container */
.childFlexWide {
  width: calc(75% - 2em);
  align-items: stretch;
  text-align: center;
  margin-left: 1em;
}

.childFlexTopWide {
  padding: 0.2em 0.5em 0.5em;
  border-radius: 20px;
  box-shadow: -5px -5px 10px #ffffffb2, 5px 5px 10px rgba(94, 104, 121, 0.945);
  background-color: #edeff2;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* FLEXBOX END */

.reveal {
  opacity: 0;
}

.reveal.animated {
  animation-name: revealElement;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes revealElement {
  0% {opacity: 1;}
  5% {opacity: 0;}
  10% {opacity: 1;}
  15% {opacity: 0;}
  20% {opacity: 1;}
  25% {opacity: 0;}
  30% {opacity: 1;}
  35% {opacity: 0;}
  40% {opacity: 1;}
  45% {opacity: 0;}
  50% {opacity: 1;}
  55% {opacity: 0;}
  100% {opacity: 1;}
}

/* SHOOT AND EDIT PROGRESS CIRCLE */

#SECircleContainer {
  width: 50%;
}

#SECircleContainer:active {
  transform: translateY(2px);
}

.progress-holder {
  cursor: pointer;
  margin: auto;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: green;
  overflow: hidden;
  box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
  position: relative;
}

.semi-circle {
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
  position:absolute;
  top: 0px;
  left: 0px;
}

.left-block {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #ccc;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.right-block {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  background: #ccc;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform-origin: left center;
}

.mask {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
  background: #edeff2ce;
  border-radius: 50%;
  text-align: center;
  box-shadow: inset -5px -5px 7px #ffffffb0, inset 5px 5px 7px rgba(94, 104, 121, 0.671);
}

.mask span {
  color: black;
  font-family: Rubik, sans-serif;
  font-size: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% - 11px);
  left: calc(1px);
}

.onoffswitch {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 20px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 0px solid #FFFFFF; border-radius: 30px;
  background-color: #9E9E9E;
}

.onoffswitch-label:before {
  content: "";
  display: block; width: 30px; margin: -5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 31px;
  border-radius: 30px;
  box-shadow: 0 6px 12px 0px #757575;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #EBAA9F;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
 border-color: #EBAA9F;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  background-color: #ED462F;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

#memoryCanvas {
  width: 90%;
  height: 90px;
  margin-top: 0;
  margin-left: 5px;
  text-align: center;
  /* border-radius: 10px; */
  background-color: transparent;
  /* box-shadow: inset 5px 5px 7px #c4aeb0, inset -5px -5px 7px #DDE1E7;*/
}

/* END OF SHOOT AND EDIT PROGRESS CIRCLE */

/* Upload bar */
#myProgress {
  background-color: lightgrey;
  box-shadow: inset -3px -3px 4px #ffffffb0, inset 3px 3px 4px rgba(94, 104, 121, 0.692);
  margin-left: 1.5em;
  margin-right: 1.5em;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: green;
}

.red {
  color:red;
}

.boldRed {
  color: red;
  font-style: bold;
  /*font-size: larger;*/
}

.green {
  color:green;
}

/* FOR SUB DIFF */

.subDifferenceClass {
  position: relative;
  color:black;
  opacity:0;
  margin-left: 5px;
}

.subDifferenceClass.animatedRed {
  animation-name: animationRed;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

.subDifferenceClass.animatedGreen {
  animation-name: animationGreen;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes animationRed {
  0%    {bottom:0px;opacity:100;color:red;}
  100%   {bottom:10px;opacity:0;color:red;}

}

@keyframes animationGreen {
  0%    {bottom:0px;opacity:100;color:green;}
  100%   {bottom:10px;opacity:0;color:green;}
}

/* END OF SUB DIFF */

.comments {
  margin-left: 10px;
  text-align: left;
  font-size: 16px;
  overflow-y: auto;
  /*border-radius: 10px;
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);*/
}

.oldComment {
  opacity: 0.5;
}

.callCommentcolor {
  color:black;
}

.projectCommentcolor {
  color:purple;
}

.storyComment {
  color:green;
  opacity:1;
}

.project {
  height: 10%;
  padding: 5% 3% 3% 3%;
  text-align: center;
  border-width: 2px;
  transition-duration: 50ms;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 3px #999;
  background-color: red;
  color: white;
}

.valid {
  background-color: green;
}

.projectTitle {
  font-weight: bold;
  white-space: normal !important; /* to make the text wrap */
}

.projectDesc {
  white-space: normal !important; /* to make the text wrap */
}

.project.animated{
  animation-name: revealProject;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes revealProject {
  0% {opacity: 1;}
  5% {opacity: 0;}
  10% {opacity: 1;}
  15% {opacity: 0;}
  20% {opacity: 1;}
  25% {opacity: 0;}
  30% {opacity: 1;}
  35% {opacity: 0;}
  40% {opacity: 1;}
  45% {opacity: 0;}
  50% {opacity: 1;}
  55% {opacity: 0;
  background-color: white;
  color:red;}
  100% {opacity: 1;
  color: white;}
}

#subProjectsB {
  height: 20%;
  padding: 4% 3% 3% 3%;
}

/* empty div to center autoEdit circle button with flexbox */
.empty {
  width: 25%;
}